# Application Settings
export PORT=4000
export ENV=development

# Database Settings
export CLMS_DB_DSN="postgresql://clms:clms@localhost/clms?sslmode=disable"
export CLMS_DB_MAX_OPEN_CONNS=25
export CLMS_DB_MAX_IDLE_CONNS=25
export CLMS_DB_MAX_IDLE_TIME=15m