# ==================================================================== #
# GO EXECUTABLES & COMPILED BINARIES
# ==================================================================== #
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
/api
/clms-api

# ==================================================================== #
# SECRETS & ENVIRONMENT VARIABLES (CRITICAL)
# ==================================================================== #
.env
.envrc

# ==================================================================== #
# DEPENDENCIES
# ==================================================================== #
vendor/

# ==================================================================== #
# IDE & OS SPECIFIC JUNK FILES
# ==================================================================== #
.idea/
.vscode/
Thumbs.db
Desktop.ini
.directory